#container{
  display: block;
  margin-left: 90px;
  margin-top: 10px;
}

.containerRecipe{
  height: 150px;
  width: 300px;
  display: flex;
  margin: 5px;
}

#imgRecipe{
  width: 150px;
  height: 150px;
}

#recipeInfo{
  margin-left: 20px
}

#profilePage > *{
  display: block;
}

#navbar {
  position: fixed;
  width: 80px;
  height: 100vh;
  top:0;
  left: 0;
  background-color: blue;
}

#userRecipes{
  width: 80vw;
  /* height: 50vh; */
  border: 1px solid black
}

#userImg{
  width: 200px;
  height: 200px;
  background-size:cover
}

#userImg:hover{
  opacity: 0.5;
}